<%- partial('_partial/header') %>

<section class="photo-section">
  <h1 class="article-title"></h1>
  <div class="album">
    <% var photos = JSON.parse(page._content); %>
      <div class="photo-box hover">
        <% for (var i = 0, len = photos.length; i < len; i++) { %>
        <% var photo = photos[i]; %>
        <div class="overlay-outer photo">
            <a href="#"></a>
            <div class="overlay"></div>
            <img src=<%- photo.src %> >
            <div class="content-details fadeIn_bottom">
                <h3 class="content-title"><%- photo.name %></h3>
                <p class="content-text"><%- photo.desc %></p>
            </div>
        </div>
        <% } %>
    </div>
  </div>
</section>

<%- partial('_partial/footer') %>
