<%- partial('_partial/header') %>

<article class="post">
  <div class="post-title">
    <h1 class="article-title"><%= page.title %></h1>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
  <div class="post-footer">
    <% if (page.tags && page.tags.length){ %>
      <%- list_tags(page.tags, {
        show_count: false,
        class: 'post-tag'
      }) %>
    <% } %>

    <a href="#top" class="top"><%= __('Post.Top') %></a>
  </div>
</article>
<%- partial('_partial/footer') %>


<!-- 代码块功能依赖 -->
<script type="text/javascript" src="<%- url_for('/static/js/codeBlockFunction.js') %>"></script>

<!-- 代码语言 -->
<% if (theme.code.lang) { %>
<script type="text/javascript" src="<%- url_for('/static/js/codeLang.js') %>"></script>
<% } %>

<!-- 代码块复制 -->
<% if (theme.code.copy) { %>
<script type="text/javascript" src="<%- url_for('/static/js/codeCopy.js') %>"></script>
<% } %>

<!-- 代码块收缩 -->
<% if (theme.code.shrink) { %>
<script type="text/javascript" src="<%- url_for('/static/js/codeShrink.js') %>"></script>
<% } %>

<!-- 代码块折行 -->
<% if (!theme.code.break) { %>
<style type="text/css">
code[class*="language-"], pre[class*="language-"] { white-space: pre !important; }
</style>
<% } %>
